@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env

<div class="hidden pl-1 pl-2 pl-3 pl-4 pl-5"></div>

<div class="w-full h-full overflow-hidden">
	@svgMarkup
</div>


@code {
	[Parameter] public string Kind { get; set; } = "";
	[Inject] private IJSRuntime JSRuntime { get; set; }
	private MarkupString svgMarkup;

	protected override void OnInitialized() {
		string path = Path.Combine(Env.WebRootPath, $"assets/images/{Kind}.svg");

		if (File.Exists(path)) {
			string svgContent = File.ReadAllText(path);

			// svgContent = AddClassToSvgTag(svgContent, "w-[90%] h-[90%]");
			svgContent = AddClassToSvgTag(svgContent, "w-full h-full pl-1");

			svgMarkup = (MarkupString)svgContent;
		} else {
			svgMarkup = (MarkupString)"<p>Image not found</p>";
		}
	}

	private string AddClassToSvgTag(string svgContent, string classes) {
		int svgTagIndex = svgContent.IndexOf("<svg");

		if (svgTagIndex != -1) {
			int insertPosition = svgContent.IndexOf(">", svgTagIndex);
			if (insertPosition != -1) {
				return svgContent.Insert(insertPosition, $" class=\"{classes}\"").Insert(insertPosition, $" id=\"map\"");
			}
		}

		return svgContent;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && Kind == "map") {
            await JSRuntime.InvokeVoidAsync("window.Diplomeocy.Game.setupMap");
        }
    }
}
