@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span><h1>Rules</h1></span>
</div>
<div>
    <ol class="list-decimal">
        <li>
            <h4>
                All units have the same strenght
            </h4>
        </li>
        <li>
            <h4>
                There can only be one unit in a province at a time
            </h4>
        </li>
        <li>
            <h4>
                A standoff doesn't dislodge a unit already in the province where the standoff took place
            </h4>
        </li>
        <li>
            <h4>
                One unit not moving can stop a series of other units from moving
            </h4>
        </li>
        <li>
            <h4>
                Units can't trade places without the use of a convoy'
            </h4>
        </li>
        <li>
            <h4>
                Three or more units can rotate provinces during turn provided none directly
            </h4>
        </li>
        <li>
            <h4>
                A unit not ordered to move can be supported by a support order that only mentions its province
            </h4>
        </li>
        <li>
            <h4>
                A unit ordered to move can only be supported by a support order that matches the move the units is trying to move
            </h4>
        </li>
        <li>
            <h4>
                A dislodged unit can still cause a standoff in a province different from the one that dislodged it
            </h4>
        </li>
        <li>
            <h4>
                A dislodged unit, even with support, has no effect on the province that dislodged it
            </h4>
        </li>
        <li>
            <h4>
                A country can't dislodge or support the dislodgment of one of its own units, even if that dislodgment is unexpected
            </h4>
        </li>
        <li>
            <h4>
                
            </h4>
        </li>
   
    </ol>
    
</div>


