@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span><h1>Rules</h1></span>
</div>
<div>
    <ol class="list-decimal">
        <li>
            <span><h4>
                All units have the same strenght
            </h4></span
        </li>
        <li>
            <span><h4>
                There can only be one unit in a province at a time
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        <li>
            <span><h4>
                
            </h4></span
        </li>
        
    
        
    </ol>
    
</div>


