@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span><h1>Rules</h1></span>
</div>
<div>
    <ol>
        <li>
            <span>
                All units have the same strength
            </span>
        </li>
        <li>
            <span>
                There can only be one unit in a province at a time
            </span>
        </li>
        <li>
            <span>
                A standoff doesn't dislodge a unit already in the province where the standoff took place
            </span>
        </li>
        <li>
            <span>
                One unit not moving can stop a series of other units from moving
            </span>
        </li>
        <li>
            <span>
                Units can't trade places without the use of a convoy
            </span>
        </li>
        <li>
            <span>
                Three or more units can rotate provinces during turn provided none directly adjoin
            </span>
        </li>
        <li>
            <span>
                A unit not ordered to move can be supported by a support order that only mentions its province
            </span>
        </li>
        <li>
            <span>
                A unit ordered to move can only be supported by a support order that matches the move the unit is trying to make
            </span>
        </li>
        <li>
            <span>
                A dislodged unit can still cause a standoff in a province different from the one that dislodged it
            </span>
        </li>
        <li>
            <span>
                A dislodged unit, even with support, has no effect on the province that dislodged it
            </span>
        </li>
        <li>
            <span>
                A country can't dislodge or support the dislodgment of one of its own units, even if that dislodgment is unexpected
            </span>
        </li>
        <li>
            <span>
                Support is cut if the unit giving support is attacked from any province except the one where support is being given
            </span>
        </li>
        <li>
            <span>
                Support is cut if the supporting unit is dislodged
            </span>
        </li>
        <li>
            <span>
                A unit being dislodged by one province can still cut support in another
            </span>
        </li>
        <li>
            <span>
                An attack by a country on one of its own units doesn't cut support
            </span>
        </li>
        <li>
            <span>
                A dislodgment of a Fleet necessary to a convoy causes that convoy to fail
            </span>
        </li>
        <li>
            <span>
                A convoy that causes the convoyed Army to standoff at its destination results in that Army remaining in its original province
            </span>
        </li>
        <li>
            <span>
                Two units can exchange places if either or both are convoyed. (This is the exception to Rule 6)
            </span>
        </li>
        <li>
            <span>
                An Army convoyed using alternate convoy orders reaches its destination as long as at least one convoy route remains open
            </span>
        </li>
        <li>
            <span>
                A convoyed Army doesn't cut the support of a unit supporting an attack against one of the Fleets necessary for the Army to convoy (This supersedes Rule 13)
            </span>
        </li>
        <li>
            <span>
                An Army with at least one successful convoy route will cut the support given by a unit in the destination province that is supporting an attack on a Fleet in an alternative route in that convoy (This supersedes Rule 21)
            </span>
        </li>
    </ol>
    
</div>


