@model Web.Models.UserPlayer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Players</h4>
<hr />
<div class="row">
    <div class="user-details-form">
        <form id="form">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTable" class="control-label"></label>
                <input asp-for="IdTable" class="form-control"/>
                <span asp-validation-for="IdTable" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input asp-for="User" class="form-control" value="@Model.User" hidden/>
            </div>

            <div class="form-group">
                <input type="button" id="button" value="Create" class="user-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="module" src="~/js/players/StartGame.js"></script>
}