@model IEnumerable<Web.Models.PlayerModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <div>@Model.ElementAt(0).IdTable</div>

    @foreach (var item in Model)
    {
        <div>
            <div class="user-details-form">
                <div class="relative">
                    <h2 class="user-details-text">@Html.DisplayNameFor(model => model.Username):</h2>
                    <h3 class="">@item.Username</h3>
                </div>
                <div class="relative">
                    <h2 class="user-details-text">Image:</h2>
                    <img src="@item.PathImage" alt="Meow" class="user-details-cat-image" />
                </div>
            </div>
        </div>
    }

</div>


