@model Diplomeocy.Web.ViewModels.GameViewModel

<div class="w-full h-full flex p-4">
	<div class="w-1/3 h-full bg-gray-200 dark:bg-gray-900 rounded-lg flex flex-col">
		<component type="typeof(Diplomeocy.Components.Game.Chat)" param-players="Model.Players" render-mode="Server">
	</div>

	<div class="w-auto h-full overflow-hidden flex justify-center items-center">
		<component type="typeof(Diplomeocy.Components.Map)" param-kind="@("map")" render-mode="Server" />
	</div>
	<div class="w-auto h-full">
		meow
	</div>
</div>

@section Scripts {
	<script src="~/lib/panzoom/dist/panzoom.min.js"></script>
	<script src="~/js/game/index.js" defer></script>
}

