
@using Web.Components.Auth

@{
    ViewData["Title"] = "Authentication";
}

<div class="w-full h-full"> 
    <component type="typeof(AuthForm)" render-mode="ServerPrerendered">
</div>

@section Scripts {
    <script type="module" src="js/auth.js"></script>
}
