@model Web.Models.User

@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>
<hr>
<div class="row">
    <div class="login-form">
        <form asp-action="LogIn" id="LogInForm">
            <div class="form-group">
                <label asp-for="Username"></label>
                <div class="mt-2">
                    <input asp-for="Username" class="form-control" required/>
                </div>
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="mt-2">
                    <input asp-for="Password" class="form-control" required/>
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Log In" class="form-button"/>
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
   
}

