@model Web.Models.User

@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>
<hr>
<div class="row">
    <div class="login-form">
        <form id="log-in-form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Username" class="text-blue-50"></label>
                <input asp-for="Username" class="form-control" required id="username"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="font-label"></label>
                <input asp-for="Password" class="form-control" required id="password" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Log In" class="user-button" id="loginButton" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
            <script type="module" src="~/js/auth.js"></script>   
}

