@model IEnumerable<Web.Models.Table>

@{
    ViewData["Title"] = "Tables";
}


@if (!Model.Any()) {
    <div class="relative overflow-hidden">
      <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
        <div class="text-center">
          <h1 class="text-4xl sm:text-6xl font-bold text-gray-800 dark:text-neutral-200">
            You have no games... yet
          </h1>
        </div>
      </div>
    </div>
} else {
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-6">
            @foreach (Table table in Model) {
                <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="/Table/i/@table.Id">
                    <div class="p-4 md:p-5">
                        <div class="flex justify-between items-center">
                            <div>
                                <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                    @Html.DisplayFor(modelItem => table.Id)
                                </h3>
                                <p class="text-sm text-gray-500 dark:text-neutral-500">
                                    @Html.DisplayFor(modelItem => table.Date)
                                </p>
                            </div>
                            <div class="ps-3">
                                <svg class="flex-shrink-0 size-5 text-gray-800 dark:text-neutral-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}