<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Click Line</title>
    <link rel="stylesheet" href="arrow.css">
</head>

<body>
    <div id="map-container">
        <img src="standard.svg" alt="Map" id="map">
        <div id="line"></div>
    </div>

    <script>
        document.getElementById('map').addEventListener('click', function (event) {
            var img = document.getElementById('map');
            var imgWidth = img.offsetWidth;
            var imgHeight = img.offsetHeight;

            var mapWidth = img.naturalWidth;
            var mapHeight = img.naturalHeight;
            console.log(imgWidth + " " + mapWidth)

            var scaleX = imgWidth / mapWidth;
            var scaleY = imgHeight / mapHeight;
            
            var x = event.clientX ;
            var y = event.clientY;

            var line = document.getElementById('line');

            document.getElementById('map').addEventListener('click', function (event) {
                var x2 = event.clientX;
                var y2 = event.clientY ;
                var line = document.getElementById('line');

                var dx = x2 - x;
                var dy = y2 - y;
                var length = Math.sqrt(dx * dx + dy * dy);
                var angle = (Math.atan2(dy, dx) * 180 / Math.PI);
                
                
                line.style.width = length + 'px';
                line.style.transform = 'rotate(' + angle + 'deg)';
                line.style.left = (x - img.offsetLeft) + 'px';
                line.style.top = (y - img.offsetTop) + 'px';
                console.log(line.offsetTop + " " + y + " " + y2)
                console.log(line.offsetLeft + " " + x + " " + x2)
            }); 

        });
    </script>
</body>

</html>