@{
    ViewData["Title"] = "Diplomeocy - Authentication";
}

<div class="w-full h-full">
    <component type="typeof(Diplomeocy.Components.Auth.AuthForm)" render-mode="ServerPrerendered">
</div>

@section Scripts {
    <script type="module" src="js/auth/auth.js"></script>
}
