@model Web.Models.GameViewModel;

@{
    ViewData["Title"] = $"Diplomeocy - {Model.Game.Id}";
}

<input type="hidden" id="group" value="@Model.Game.Id">
<input type="hidden" id="own-country" value="@Model.OwnCountry">

<aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <section class="sidebar">
        <div class="container">
            <div class="row p-1">
                <label class="col-1">User</label>
                <input type="text" class="chat-input" id="user-input" value="@Model.User.Username" disabled />
            </div>
            <div class="row p-1">
                <label class="col-1">Message</label>
                <input type="text" class="chat-input" id="message-input" />
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    <input type="button" class="user-button" id="send-button" value="send message" />
                </div>
                <div class="col-6 text-start">
                    <input type="button" class="user-button" value="join group" id="join-group">
                </div>
            </div>

        </div>
        <div>
            <select class="chat-dropdown" id="join-group-input">
                <option value="all" selected>all</option>
                <option value="meow-1" >meow-1</option>
                <option value="meow-2" >meow-2</option>
                <option value="meow-3"  >meow-3</option>
                <option value="meow-4"  >meow-4</option>
                <option value="meow-5"  >meow-5</option>
                <option value="meow-6"  >meow-6</option>
                <option value="meow-7"  >meow-7</option>
            </select>
        </div>

        <div class="row p-1">
            <div class="col-6">
                <ul id="messages-list"></ul>
            </div>
        </div>
    </section>
    <section class="map">
        <div id="svg-container">
            <!-- Your SVG content goes here -->
            @Html.Raw(ViewBag.SvgContent)
        </div>

        <div>
            <span>Controls: </span>
            <input type="radio" name="type" id="regular" value="regular" checked>
            <label for="regular">Regular</label>

            <input type="radio" value="support" name="type" id="support">
            <label for="support">Support</label>

            <input type="radio" value="convoy" name="type" id="convoy">
            <label for="convoy">Convoy</label>
        </div>

        <div>
            <span>Build new unit: </span>
            <input type="radio" name="new-unit-type" id="new-unit-army" value="army">
            <label for="new-unit-army">Army</label>

            <input type="radio" name="new-unit-type" id="new-unit-fleet" value="fleet">
            <label for="new-unit-fleet">Fleet</label>
        </div>
    </section>
</aside>


@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="module" src="~/js/game/index.js"></script>
    <script type="module" src="~/js/chat.js"></script>
}
