@model Web.Models.GameViewModel;

@{

    ViewData["Title"] = $"Diplomeocy - {Model.Game.Id}";
}

<input type="hidden" id="group" value="@Model.Game.Id">
<input type="hidden" id="own-country" value="@Model.OwnCountry">


<div class="" id="svg-container">
    @* <img src="~/assets/images/map.svg" alt="Map" class="object-cover w-full h-full"> *@
    @Html.Raw(ViewBag.SvgContent)
</div>

@section Scripts {
    <script type="module" src="~/js/game/index.js"></script>
}
