@{
	string theme = "Light";
	if (ViewContext.HttpContext.Session.Keys.Contains("Theme") == true) {
		byte[]? themeBytes = ViewContext.HttpContext.Session.Get<byte[]>("Theme");
		theme = System.Text.Encoding.UTF8.GetString(themeBytes);
	} else if (ViewContext.HttpContext.Session.Keys.Contains("CurrentUser") == true) {
		theme = ViewContext.HttpContext.Session.Get<Diplomeocy.Database.Models.User>("CurrentUser").Theme.ToString();
	}

	Context.Response.Headers["Cache-Control"] = "no-store";
}

<!DOCTYPE html>
<html lang="en" class="@theme.ToLower()">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DiplomeocyWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/select2/select2.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

	<base href="~/" />
	<component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
			   render-mode="Server" />

	@await RenderSectionAsync("Styles", required: false)
</head>
<body class="transition-colors duration-200 dark:bg-gray-950 w-full h-full" hx-boost="true">
	<component type="typeof(Diplomeocy.Components.Layout.Header)" render-mode="Server" />

	<div class="w-full h-[80vh]">
		<main role="main" class="pb-3 w-full h-full">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - Diplomeocy
		</div>
	</footer>

	<script src="~/js/index.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/lib/htmx/htmx.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/select2/select2.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/preline/dist/preline.js"></script>

	@*<script src="_framework/blazor.webassembly.js"></script>*@

	@await RenderSectionAsync("Scripts", required: false)

	<script src="_framework/blazor.server.js"></script>
</body>
</html>
